@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Great+Vibes&family=Jersey+15&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AU+SA:wght@100..400&display=swap');


.header {
    width: 100%;
    height: 150px;

    padding: 1rem;
    background-image: url("https://cdn.pixabay.com/photo/2023/12/16/10/58/ai-generated-8452198_640.png");
    /* background-color: pink;  */
    display: flex;
    /* flex-direction: row; */
    /* background-color: white; */
    justify-content: space-between;
    scroll-snap-align: start;
}

.header.nav {
    color: white;
    font-family: "Barlow", serif;
    ;
}

.logo i{
    font-size: 1.5rem;
    color: black;
} 

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;


}


.logo h2 {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    /* background-color: pink; */
    font-family: "Great Vibes", serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
}


.search-bar {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
    gap: 10px;
 
}

#search-container {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.buttons {
    display: flex;
    gap: 8px;
    margin-top: 8px;
    align-items: center;
}

#search-icon {
    cursor: pointer;
    color: #333;
    font-size: 30px;
}

#clear-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
    gap: 10px;
}

#clear-button:hover {
    background-color: #d32f2f;
}

.search-options {
    position: absolute;
    top: 20%;
    left: 30%;
    right: 30%;
    width: 20%;
    height: 400px;
    /* overflow-y: auto; */
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    display: none; 
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: whitesmoke;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-options div {
    padding: 8px;
    cursor: pointer;
}

.search-options div:hover {
    background: #f0f0f0;
}
.icons {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: white;
}

.icons a {
    color: black;
    font-weight: lighter;
}
.icons a:hover{
    background-color: white;
    cursor: pointer;
}
.icons i{
    color: rgb(18, 18, 119);
}
hr {
    width: 90%;
    margin: auto;
    color: rgb(146, 146, 146);
    margin-top: 20px;
    font-weight: lighter;
    font-size: .2rem;

}